/* Inspired by the Monokai theme, 
        http://www.monokai.nl/blog/2006/07/15/textmate-color-theme/ */

pre {
    display:inline-block;
    font-family: monospace;
    background-color: #272822;
    color: #F8F8F2;
    padding: 8pt;
    margin-top: -3pt;
    margin-left: 6pt;
    margin-right: 30pt;
    margin-bottom: 0pt;
}

pre .frostcode {
    font-family: Menlo, Consolas, Andale Mono, sans-serif;
    color: #F8F8F2;
}

pre .frostcode .comment {
    color: #857A65;
    font-style: italic;
}

pre .frostcode .lineNumber {
    color: #857A65;
    font-style: italic;
    font-size: 90%;
}

pre .frostcode .annotation, pre .frostcode .label {
    color: #D6C2FF;
    font-style: italic;
}

pre .frostcode .control, pre .frostcode .VAR_TOKEN, pre .frostcode .DEF_TOKEN,
        pre .frostcode .CONSTANT_TOKEN, pre .frostcode .PROPERTY_TOKEN,
        pre .frostcode .AT_RETURN_TOKEN, pre .frostcode .DOT_TOKEN {
    color: #F92672;
}

pre .frostcode .PACKAGE_TOKEN, pre .frostcode .CLASS_TOKEN, pre .frostcode .CHOICE_TOKEN,
        pre .frostcode .INTERFACE_TOKEN, pre .frostcode .FUNCTION_TOKEN, pre .frostcode .METHOD,
        pre .frostcode .INIT_TOKEN {
    color: #30E1EF;
    font-style: italic;
}

pre .frostcode .control {
    font-style: italic;
}

pre .frostcode .methodName {
    color: #A6E22E;
}

pre .frostcode .type {
    color: #66D9EF;
}

pre .frostcode .literal {
    color: #AE81FF;
}

pre .frostcode .STRING {
    color: #E6DB74;
}

pre .frostcode .parameterName {
    color: #FD971F;
}

pre .frostcode .ellipsis {
    color: #F8F8F2;
}
