.pandacode {
    font-family: Menlo, Consolas, Andale Mono, sans-serif;
}

.pandacode .comment {
    color: #808080;
    font-style: italic;
}

.pandacode .annotation, .label {
    color: #A888BD;
    font-style: italic;
}

.pandacode .control, .pandacode .VAR, .pandacode .DEF, .pandacode .CONSTANT, .pandacode .PROPERTY,
        .pandacode .AT_RETURN, .pandacode .DOT {
    color: #C80000;
}

.pandacode .control {
    font-style: italic;
}

.pandacode .methodName {
    color: #00A200;
}

.pandacode .type {
    color: #3389DF;
}

.pandacode .literal {
    color: #9E61CF;
}

.pandacode .STRING {
    color: #3040E0;
}

.pandacode .parameterName {
    color: #FD971F;
}