/* Inspired by the Monokai theme, 
        http://www.monokai.nl/blog/2006/07/15/textmate-color-theme/ */

pre {
    display:inline-block;
    font-family: monospace;
    background-color: #272822;
    color: #F8F8F2;
    padding: 8pt;
    margin-top: -3pt;
    margin-left: 6pt;
    margin-right: 30pt;
}

.pandacode {
    font-family: Menlo, Consolas, Andale Mono, sans-serif;
    color: #F8F8F2;
}

.pandacode .comment {
    color: #857A65;
    font-style: italic;
}

.pandacode .lineNumber {
    color: #857A65;
    font-style: italic;
    font-size: 90%;
}

.pandacode .annotation, .pandacode .label {
    color: #D6C2FF;
    font-style: italic;
}

.pandacode .control, .pandacode .VAR, .pandacode .DEF, .pandacode .CONSTANT, .pandacode .PROPERTY,
        .pandacode .AT_RETURN, .pandacode .DOT {
    color: #F92672;
}

.pandacode .PACKAGE, .pandacode .CLASS, .pandacode .CHOICE, .pandacode .INTERFACE,
        .pandacode .FUNCTION, .pandacode .METHOD, .pandacode .INIT {
    color: #30E1EF;
    font-style: italic;
}

.pandacode .control {
    font-style: italic;
}

.pandacode .methodName {
    color: #A6E22E;
}

.pandacode .type {
    color: #66D9EF;
}

.pandacode .literal {
    color: #AE81FF;
}

.pandacode .STRING {
    color: #E6DB74;
}

.pandacode .parameterName {
    color: #FD971F;
}

.pandacode .ellipsis {
    color: #F8F8F2;
}
