pre {
    display:inline-block;
    font-family: monospace;
    border: solid #75715E 1px;
    border-radius: 4pt;
    padding: 8pt;
    margin-top: -3pt;
    margin-left: 6pt;
    margin-right: 30pt;
}
