#toc ul {
    list-style-type: none;
    padding-left: 12px;
}

#toc > ul {
    padding-left: 0px;    
}

#toc li {
    padding-left: 12px;
}

#toc li.open, #toc li.closed {
    padding-left: 0;
}

#toc li.closed ul {
    display: none;
}

#toc .bullet {
    cursor: pointer;
}
